PORT=3000

# Set to "mongodb" or "supabase"
DB_TYPE=mongodb

# MongoDB (Atlas or local)
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/todos?retryWrites=true&w=majority

# Supabase
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-anon-public-key
